<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Hella Recipes App</title>
    {% endif %}

    <!-- mobile responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content="Hella Recipes" />
    <meta name="author" content="Rufus.Codes" />

    <!-- plugins -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link
      rel="stylesheet"
      href="/static/plugins/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/static/plugins/slick/slick.css" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css" media="screen" />

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
      <link rel="icon" href="images/favicon.png" type="image/x-icon" />

      <meta
        property="og:title"
      content="Hella.Recipes | The best archived Recipes"
    />
    <meta property="og:description" content="This is meta description" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:updated_time" content="2020-03-15T15:40:24+06:00" />




    
  </head>

  <body>
    <!-- Navigation -->
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <!-- Navbar Brand and Burger Icon -->
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'recipes-home' %}">
            <img
              src="/static/images/hella-recipes-logo-med.png"
              alt="Hella.Recipes | Smackin on the best recipes!!!"
              width="170px"
            />
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar-menu"
          >
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

        <!-- Navbar Menu -->
        <div id="navbar-menu" class="navbar-menu">
          <!-- Navbar Start -->
          <div class="navbar-start">
            <!-- Recipes Dropdown -->
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Recipes</a>
              <div class="navbar-dropdown">
                   {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'user-favorites' %}"
                  >My Favorite Recipes</a
                >
                <a class="navbar-item" href="{% url 'recipes-create' %}"
                  >Add your Recipe</a>
                  {% else %}
                <a class="navbar-item" href="{% url 'user-register' %}"
                  >Get Started</a>
                    {%endif%}
              </div>
            </div>

            <!-- User Dropdown -->
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {% if user.is_authenticated %} Profile {% else %} Account
                {%endif%}
              </a>
              <div class="navbar-dropdown">
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'user-profile' %}">Profile</a>
                <a class="navbar-item" href="{% url 'user-logout' %}">Logout</a>
                {% else %}
                <a class="navbar-item" href="{% url 'user-login' %}">Login</a>
                <a class="navbar-item" href="{% url 'user-register' %}"
                  >Register</a
                >
                {% endif %}
              </div>
            </div>

          </div>

          <!-- Navbar End -->
          <div class="navbar-end">
            <!-- Search Form -->
            <div class="navbar-item">
              <form action="{% url 'search_recipes' %}" method="GET">
                <div class="field has-addons">
                  <div class="control">
                    <input
                      class="input"
                      type="search"
                      placeholder="Search"
                      name="q"
                    />
                  </div>
                  <div class="control">
                    <button class="button is-primary" type="submit">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <div class="container">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </div>

    <footer class="footer">


      <div class="container">
        <div class="columns is-multiline is-align-items-center">
          <div
            class="column is-5-desktop has-text-centered has-text-left-desktop mb-4"
          >
            <ul class="footer-list mb-0">
              <li class="list-inline-item">
                <a href="privacy-policy.html">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="terms-conditions.html">Terms Conditions</a>
              </li>
            </ul>
          </div>
          <div class="column is-2-desktop has-text-centered mb-4">
            <a href="{%url 'recipes-home' %}"
              ><img
                class="img-fluid"
                width="100px"
                src="/static/images/hella-recipes-logo-med.png"
                alt="Hella.Recipes"
            /></a>
          </div>
          <div
            class="column is-5-desktop has-text-right-desktop has-text-centered mb-4"
          >
            <ul class="footer-list mb-0">
              <li class="list-inline-item">
                <a href="https://github.com/rufuscodes/hella-recipes-django"><i class="ti-github"></i></a>
              </li>
            </ul>
          </div>
          <div class="column is-12">
            <div class="border-bottom border-default"></div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JS Plugins -->
    <script src="/static/plugins/jQuery/jquery.min.js"></script>

    <script src="/static/plugins/slick/slick.min.js"></script>

    <!-- Main Script -->
    <script src="/static/js/script.js"></script>


  </body>
</html>
