{% extends 'recipes_app/base.html' %} {% block content %}

<div class="container my-4">
  <h1 class="mb-5">Recipes App Home</h1>

  {% for recipe in recipes %}
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">{{ recipe.title }}</h2>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ recipe.author }} | {{ recipe.created_at }}
      </h6>
      <span>{{ recipe.date_posted }}</span>
      <h5 class="mt-3">Ingredients:</h5>
      <ul>
        {% for ingredient_rel in recipe.recipeingredient_set.all %}
        <li>
          Ingredients: {{ ingredient_rel }}
          <br />
          Quantity: {{ ingredient_rel.quantity }}
          <br />
          Measurement: {{ ingredient_rel.measurement }}
          <br />
          Ingredient Name: {{ ingredient_rel.ingredient.name }}
          <br />
          Ingredient Description: {{ ingredient_rel.ingredient.description }}
        </li>
        {% endfor %}
      </ul>

      <h5 class="mt-3">Directions:</h5>
      <p class="card-text">{{ recipe.directions }}</p>

      <!-- Save, Share, and Delete buttons -->
      <a href="{% url 'recipes-detail' recipe.pk %}" class="card-link"
        >View Recipe</a
      >
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
