{% extends 'recipes_app/base.html' %} 

{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">Add Recipe</h1>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Recipe Form</p>
      </header>
      <div class="card-content">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form    }}
          {{ formset.management_form }}
                    <div class="field">
          <div id="ingredient-wrapper">
            {% for ingredient_form in formset %}
            <div class="ingredient-form box">
                {{ ingredient_form }}
            </div>
            {% endfor %}
          </div>
          <button id="add-more" class="button is-link">Add Another Ingredient</button>

          <div class="border-top pt-3">
            
          </div>
                    <div class="field mt-5">
            <div class="control">
              <input type="submit" value="Save Recipe" class="button is-primary" />
              <a class="button is-primary" href="{% url 'recipes-home' %}">Cancel</a>

            </div>
          </div>    
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let wrapper = document.querySelector("#ingredient-wrapper");
    let addButton = document.querySelector("#add-more");

    addButton.addEventListener("click", function (e) {
      e.preventDefault();

      let totalForms = document.querySelector("#id_ingredients-TOTAL_FORMS");
      let formNum = parseInt(totalForms.value);
      let newElement = wrapper.children[0].cloneNode(true);

      let formRegex = RegExp(`ingredients-(\\d){1}-`, "g");
      newElement.innerHTML = newElement.innerHTML.replace(
        formRegex,
        `ingredients-${formNum}-`
      );

      wrapper.appendChild(newElement);
      totalForms.value = formNum + 1;
    });
  });
</script>

{% endblock content %}
