{% extends 'recipes_app/base.html' %} 
{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">{{ recipe.title }}</h1>
    <h2>{{ recipe.category }}</h2>
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/media/{{ recipe.image }}" alt="Recipe Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="subtitle is-6">{{ recipe.author }} | {{ recipe.created_at }}</p>
          </div>
        </div>

        <div class="content">
          <h5 class="title is-5">Ingredients:</h5>
          <ul>
            {% for ingredient_rel in recipe.recipeingredient_set.all %}
            <li class="mb-2">
              <img src="{{ ingredient_rel.ingredient.image_url }}" alt="{{ ingredient_rel.ingredient.description }}" width="50px" class="mr-2"> 
              <a href="{% url 'ingredient-detail' ingredient_rel.ingredient.pk %}">
                <b>{{ ingredient_rel.ingredient.name }}</b>
              </a>
              <br>
              Quantity: {{ ingredient_rel.quantity }}
              <br>
              Measurement: {{ ingredient_rel.measurement }}
            </li>
            {% endfor %}
          </ul>

          <h5 class="title is-5 mt-3">Directions:</h5>
          <p>{{ recipe.description }}</p>
        </div>

        <div class="buttons mt-4">
          {% if user.is_authenticated %}
            {% if user in recipe.favorited_by.all %}
              <a href="{% url 'unfavorite-recipe' recipe.pk %}" class="button is-danger">Unfavorite</a>
            {% else %}
              <a href="{% url 'favorite-recipe' recipe.pk %}" class="button is-primary">Favorite</a>
            {% endif %}
          {% endif %}

          {% if recipe.author == user or user.is_staff %}
            <a href="{% url 'recipes-update' recipe.id %}" class="button is-link">Edit Recipe</a>
            <a href="{% url 'recipes-delete' recipe.id %}" class="button is-danger">Delete Recipe</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
