{% extends 'recipes_app/base.html' %} {% load crispy_forms_tags %}


{% block content %}
<div class="conatiner">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <lengend class="border-bootom mb-4">Are you sure you want to delete {{object}} </legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group py-3">
            <input type="submit" value="Delete" class="btn btn-outline-danger">
        </div>
    <div class="border-top pt-3">
        <a href="{% url 'recipes-home' %}">Cancel</a>
    </div>

    </form>
</div>
{% endblock content %}
