{% extends 'recipes_app/base.html' %} {% load crispy_forms_tags %}


{% block content %}
<h1>Add Recipe</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% for ingredient_form in formset %}
        {{ ingredient_form.as_p }}
    {% endfor %}
    <input type="submit" value="Save Recipe" />


        <div class="form-group py-3">
            <input type="submit" value="save" class="btn btn-outline-primary">
        </div>
    <div class="border-top pt-3">
        <a href="{% url 'recipes-home' %}">Cancel</a>
    </div>

    </form>
</div>
{% endblock content %}
